@media only screen and (min-width: 960px) {

	body {
		background: url('../img/back960.jpg') no-repeat center 0;
		background-size: cover;
		font-family: 'Open Sans';
		color: #fff;
		text-shadow: 1px 1px #000;
	}

	header,
	.slider,
	.about,
	main,
	footer {
		width: 960px;
		margin: 0 auto;
	}

	a,
	h1,
	h2,
	h3 {
		font-family: 'League Gothic';
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 33px;
	}

	h3 {
		font-size: 29px;
	}

	.pink {
		color: #edbfff;
	}

	.none {
		display: none;
	}

	.bold {
		font-weight: bold;
	}

	.shift {
		display: none;
	}

	.read-more,
	.about-more {
		font-size: 19px;
	}

	/* HEADER */

	header {
		margin-top: 70px;
	}
	
	.logo a {
		display: block;
		width: 152px;
		height: 60px;
		margin: 0 0 0 1px;
		background: url('../img/logo.png') no-repeat;
	}
	
	.logo + nav {
		position: absolute;
		top: 60px;
		margin-left: 305px;
	}

	.menu {
		margin: 0;
		font-size: 24px;
	}

	.menu-item {
		display: inline-block;
		padding-left: 45px;
	}

	.menu-item:first-child {
		padding: 12px 0 8px 0;
	}

	.menu-link:hover {
		border-bottom: 2px solid #edbfff;
	}

	.home-link {
		display: none;
	}

	/* SLIDER */


	.slider {
		margin-top: -46px;
	}

	.description,
	.phones,
	.arrow {
		display: inline-block;
	}

	.description {
		margin-left: 1px;
	}

	.description h1 {
		letter-spacing: -0.6px;
	}

	.description h2 {
		position: relative;
		top: -3px;
		letter-spacing: -0.3px;
	}

	.description p {
		position: relative;
		top: 3px;
		width: 500px;
		line-height: 25px;
		letter-spacing: 0.6px;
	}

	.phones {
		position: relative;
		top: 176px;
		left: 189px;
	}

	.phone-blurred {
		position: absolute;
		top: 80px;
		right: 145px;
		z-index: -1;
	}

	.play a {
		position: absolute;
		bottom: 210px;
		left: 60px;
		display: block;
		width: 76px;
		height: 76px;
		background: url('../img/play.png');
	}

	.arrow {
		display: none;
	}

	.switchers {
		position: relative;
		top: 235px;
		left: 712px;
	}

	.switch-circle {
		position: relative;
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-right: 3px;
		background: #42444d;
		border-radius: 50%;
	}

	.switch-circle:hover div {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 10px;
		height: 10px;
		margin: -5px 0 0 -5px;
		background: #fff;
		border-radius: 50%;
	}

	/* ABOUT */

	.about {
		margin-top: 382px;
	}

	.about-company {
		display: inline-block;
	}

	.about-symbol,
	.about-our {
		display: inline-block;
	}

	.about-symbol {
		position: relative;
		top: -64px;
		left: 15px;
		width: 24px;
		height: 25px;
		background: url('../img/fixkey.png') no-repeat;
	}

	.symbol-second {
		width: 28px;
		left: -23px;
		background: url('../img/cloud.png') no-repeat;
	}

	.symbol-third {
		left: -25px;
		background: url('../img/muskey.png') no-repeat;
	}

	.about-our {
		width: 255px;
		letter-spacing: -0.5px;
	}

	.about-our h3 {
		letter-spacing: 0.4px;
	}

	.our-first {
		margin-left: 36px;
		margin-right: 51px;
	}

	.our-second {
		margin-right: 46px;
	}

	.our-third {
		width: 210px;
	}

	.about-our p {
		position: relative;
		top: 10px;
		letter-spacing: -0.4px;
		line-height: 25px;
	}

	.about-more {
		float: right;
		line-height: 45px;
		margin-right: 38px;
		margin-top: 60px;
	}

	.more-third {
		position: relative;
		left: 47px;
	}

	/* MAIN */

	main {
		color: #000;
		text-shadow: none;
		margin-top: 108px;
	}

	.comment,
	.blog {
		display: inline-block;
	}
	
	.comment {
		position: relative;
		top: -137px;
		background: #fff;
		box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
		width: 425px;
		height: 270px;
		margin-left: 25px;
	}
	
	.comment-face,
	.comment-start {
		display: inline-block;
		margin-top: 27px
	}

	.comment-start h3 {
		position: relative;
		top: 17px;
		left: 1px;
		letter-spacing: -0.2px;
	}
	
	.comment-start {
		width: 300px;
		margin-left: -15px;
	}
	
	.comment-start p {
		position: relative;
		top: 16px;
		margin-top: 10px;
		line-height: 22px;
		width: 350px;
		letter-spacing: -0.3px;
	}
	
	.comment-face a {
		position: relative;
		top: -65px;
		right: 23px;
		display: block;
		width: 50px;
		height: 51px;
		background: url('../img/face.png') no-repeat;
	}
	
	.switchers-reversed {
		top: 156px;
		left: 172px;
	}

	.switch-reversed {
		background: #fff;
		border: 1px solid #42444d;
		margin-right: 1px;
	}
	
	.switch-reversed:hover div {
		background: #42444d;
	} 
	
	.comment-pic a {
		display: block;
		width: 49px;
		height: 49px;
		background: url('../img/circle1.png') no-repeat;
	}
	
	.blog {
		margin-top: 77px;
		margin-left: 55px;
	}
	
	.blog-comment {
		margin-bottom: 10px;
		margin-left: 15px;
	}
	
	.h3bigger {
		font-size: 30px;
	}
	
	.blog-comment .comment-pic,
	p {
		display: inline-block;
	}
	
	.h3bigger + .blog-comment {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.comment-second {
		margin-top: 10px;
	}
	
	.blog-comment p {
		width: 250px;
		line-height: 25px;
		letter-spacing: -0.5px;
	}
	
	.comment-pic {
		position: relative;
		top: 6px;
		right: 15px;
	}
	
	.pic-2 a {
		background: url('../img/circle2.png') no-repeat;
	}
	
	.pic-3 a {
		background: url('../img/circle3.png') no-repeat;
	}
	
	.read-more {
		display: block;
		margin-top: 20px;
		margin-left: 350px;
		color: #000;
	}
	
	.logos {
		margin-top: 20px;
		margin-left: 95px;
	}
	
	.logos a {
		display: inline-block;
		width: 70px;
		height: 65px;
		background: url('../img/logos.png');
	}
	
	.logos .logo1 {
		margin-right: 60px;
	}
	
	.logos .logo2 {
		width: 72px;
		margin-right: 60px;
		background-position: -134px 0;
	}
	
	.logos .logo3 {
		width: 63px;
		margin-right: 70px;
		background-position: -270px 0;
	}
	
	.logos .logo4 {
		position: relative;
		width: 51px;
		margin-right: 65px;
		background-position: -408px 0;
	}
	
	.logos .logo5 {
		position: relative;
		bottom: 16px;
		width: 105px;
		height: 27px;
		margin-right: 60px;
		background-position: -525px -20px;
	}
	
	.logos .logo6 {
		width: 78px;
		background-position: -697px 0;
	} 

	/* FOOTER */
	
footer {
		margin-top: 120px;
		text-shadow: none;
	}

	.info-pingbuller,
	.info-comments,
	.info-news {
		display: inline-block;
		margin-right: 62px;
		color: #000;
	}

	.info-pingbuller,
	.info-comments,
	.info-news p {
		width: 270px;
		line-height: 25px;
	}
		
	.info-pingbuller {
		position: relative;
		top: 7px;
	}

	.info-pingbuller h3 {
		color: #000;
	}

	.gray {
		color: #b9b9b9;
	}

	.italic {
		font-style: italic;
		font-size: 15px;
	}

	.info-comments {
		margin-right: 10px;
		margin-left: 4px;
	}

	.info-comments p {
		position: relative;
		top: 10px;
	}

	.info-news {
		position: relative;
		left: 56px;
	}

	.info-news p {
		position: relative;
		top: 10px;
	}

	.info h3 {
		font-size: 30px;
	}

	.info .hlogo {
		font-size: 45px;
		letter-spacing: -1.8px;
	}

	.menu-down {
		margin-top: 103px;
	}

	.menu-down .menu-item {
		padding-left: 37px;
	}

	.menu-down	.menu-item:first-child {
		padding: 12px 0 8px 0;
	}
	
	.menu-down .menu-link {
		font-size: 20px;
	}

	.designed {
		position: relative;
		bottom: 22px;
		left: 825px;
		font-size: 12px;
	}
} 