body {
	background: #74AFAD;
	font-family: Tahoma, Arial sans-serif;
	text-align: center;
	color: #fff;
	header {
		margin-top: 50px;
		font-size: 70px;
	}
	.content {
		margin-top: 50px;
		.timer {
			width: 600px;
			height: 200px;
			border-radius: 25px;
			line-height: 200px;
			font-size: 70px;
			background: #a3bbbb;
			border: 1px solid #fff;
		}
		div {
			margin: 10px auto;
		}
		.buttons {
			display: flex;
			width: 400px;
		}
		button {
			width: 100px;
		}
		.results {
			font-size: 20px;
		}
	}
}
