body {
    background: #f9f9f9;
    font-family: "Open Sans", Arial, sans-serif;
}

.page {
    width: 1060px;
    margin: 0 auto;
    padding: 50px 45px 60px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    box-shadow: 0px 0px 5px 0px #4d4c4d;
    background: #fff;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

a {
    text-decoration: none;
}

/* HEADER */

.logo {
    margin-bottom: 40px;
}

.logo img {
    width: 140px;
    height: 38px;
}

.menu-top {
    background: linear-gradient(to bottom, #5c5c5c 0%, #535353 33%, #454545 66%);
    color: #fff;
    font-size: 15px;
}

.menu-item {
    display: inline-block;
}

.menu-link {
    display: block;
    padding: 15px 30px;
    color: inherit;
    font-size: inherit;
}

.menu-top .menu-link:hover {
    padding: 15px 29px;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background: #3b3b3b;
}

.menu-top .no-border:hover {
    padding-left: 30px;
    border-left: 0;
}

/* BASE */

.base {
    margin-top: 40px;
}

nav {
    display: inline-block;
}

.sidebar {
    width: 236px;
}

.sidebar-item {
    display: block;
    border: 1px solid #c8c8c8;
    border-bottom: 0;
}

.sidebar-item:last-child {
    border-bottom: 1px solid #c8c8c8;
}

.sidebar-link {
    display: block;
    padding: 15px 105px 15px 20px;
    color: #656363;
    font-size: 13px;
}

.sidebar-link:hover {
    padding: 15px 95px 15px 30px;
    background: #f9f9f9;
}

.content {
    display: inline-block;
    width: 678px;
    margin-left: 50px;
    float: right;
}

.content img {
    width: 500px;
    height: 300px;
    padding: 50px 88px;
    border: 1px solid #c8c8c8;
}

.content p {
    margin-top: 40px;
    padding-right: 36px;
    padding-left: 26px;
    font-size: 13px;
    line-height: 21px;
}

/* FOOTER */

footer {
    position: relative;
}

.menu-bottom {
    margin-top: 65px;
    background: #e1e1e1;
    color: #2c2c2c;
    font-size: 13px;
}

.rights {
    margin-top: 15px;
    margin-right: 30px;
    float: right;
}

.menu-bottom .menu-link:hover {
    text-decoration: underline;
}

.rights {
    position: absolute;
    bottom: 15px;
    right: 0;
}
